
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [142]:
import pandas as pd
import numpy as np

In [143]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [144]:
# Ваш код здесь
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [145]:
# Ваш код здесь
round(data[data["sex"] == "Female"]["age"].mean(), 2)

36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [146]:
# Ваш код здесь
# data["native-country"].value_counts()
round(data["native-country"].value_counts(normalize=True) * 100, 2)

United-States                 89.59
Mexico                         1.97
?                              1.79
Philippines                    0.61
Germany                        0.42
Canada                         0.37
Puerto-Rico                    0.35
El-Salvador                    0.33
India                          0.31
Cuba                           0.29
England                        0.28
Jamaica                        0.25
South                          0.25
China                          0.23
Italy                          0.22
Dominican-Republic             0.21
Vietnam                        0.21
Guatemala                      0.20
Japan                          0.19
Poland                         0.18
Columbia                       0.18
Taiwan                         0.16
Haiti                          0.14
Iran                           0.13
Portugal                       0.11
Nicaragua                      0.10
Peru                           0.10
France                         0.09
Greece                         0.09
Ecuador                        0.09
Ireland                        0.07
Hong                           0.06
Cambodia                       0.06
Trinadad&Tobago                0.06
Laos                           0.06
Thailand                       0.06
Yugoslavia                     0.05
Outlying-US(Guam-USVI-etc)     0.04
Honduras                       0.04
Hungary                        0.04
Scotland                       0.04
Holand-Netherlands             0.00
Name: native-country, dtype: float64

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [147]:
# Ваш код здесь

round(data[data["salary"] == ">50K"]["age"].mean()), round(data[data["salary"] == ">50K"]["age"].std(),1)

(44, 10.5)

In [148]:
round(data[data["salary"] == "<=50K"]["age"].mean()), round(data[data["salary"] == "<=50K"]["age"].std(), 1)

(37, 14.0)

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [149]:
# Ваш код здесь
data[data["salary"] == ">50K"]["education"].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [150]:
# Ваш код здесь
# data[data["race"] == "Amer-Indian-Eskimo"]["age"].max()
data.query("sex == 'Male'").groupby(["race"]).agg(np.max)
# data.race.value_counts()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
Amer-Indian-Eskimo,82,State-gov,356015,Some-college,16,Widowed,Transport-moving,Unmarried,Male,27828,1980,84,United-States,>50K
Asian-Pac-Islander,90,Without-pay,506329,Some-college,16,Widowed,Transport-moving,Unmarried,Male,99999,2457,99,Vietnam,>50K
Black,90,Without-pay,1268339,Some-college,16,Widowed,Transport-moving,Unmarried,Male,99999,2824,99,United-States,>50K
Other,77,State-gov,481175,Some-college,16,Widowed,Transport-moving,Unmarried,Male,99999,2179,98,United-States,>50K
White,90,Without-pay,1455435,Some-college,16,Widowed,Transport-moving,Wife,Male,99999,3770,99,Yugoslavia,>50K

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [158]:
# Ваш код здесь

# .q(>50k, male) 
# marital status groupby "M....."  
# data.loc[(data["sex"] == "Male") & (data["salary" == ">50K"])]

married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

res = (data.assign(married=np.where(data["marital-status"].isin(married), 'married', 'not married'))
         .loc[(data['salary']=='>50K') & (data['sex']=='Male')]
         .groupby('married')
         .size())
print(res)

married
married        5965
not married     697
dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
# Ваш код здесь
# Максимальное количество часов работы
data["hours-per-week"].max()

99

In [ ]:
# Количество людей работающих 99 часов

data[data["hours-per-week"] == 99]["hours-per-week"].count()

85

In [ ]:
round(data[data["hours-per-week"] == 99]["salary"].value_counts(normalize=True), 2)

<=50K    0.71
>50K     0.29
Name: salary, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [162]:
data["salary"]

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

In [169]:
# Ваш код здесь
# all 
data.loc[data["native-country"] == "Japan", "hours-per-week"] \
        .groupby(data["salary"]).mean()

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64